body{
    width: 1920px;
    height: 4626px;
    margin-top: -2959px;
    margin-left: -960px;
}
.nav-bar{
    background: rgba(249, 74, 61, 0.07);
    margin-top: 31px;
}
.logo{
    width: 180px;
    height: 30px;
}
.head{
    color: #F94A3D;
}
a{
color:black;
text-decoration: none;
}
.sec-3{
    width:;
    height: 940px;
    margin-left: 13px;
    border: 1px solid;
}